<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?tracking=1&always=1&noGeoIp=1&refreshPage=1&top=1&showNoConsent=1&showPolicyLink=1&privacyPage=%2Fabout%2F"></script>

    <!-- Google Analytics -->
<script>
    window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
    let matches = document.cookie.match(/(;)?cookiebar=([^;]*);?/);
    let cookieValue = Array.isArray(matches) ? matches[2] : '';
    if (cookieValue == 'CookieAllowed') {
        ga('create', 'UA-141297186-1', 'auto');
        ga('set', 'allowAdFeatures', false);
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
    } else {
        ga('remove', 'UA-141297186-1')
        document.cookie.split(";").forEach(function (c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
    }
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        messageStyle: "none",
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [['$', '$'], ["\\(", "\\)"]],
            displayMath: [['$$', '$$'], ["\\[", "\\]"]],
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
    });
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js"></script>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">